a { color:#a2b228; }

a:hover {
  text-decoration: underline;
  color:#a2b228;
}

body { padding: 85px 0 30px 0;
  font-family: 'Roboto';
  font-size: 16px;
}

.tag {
  margin-right: .8em;
}

.link-tag {
  cursor: pointer;
  display: inline-block;
}

.service-tag {
  background-color: #232F3E !important;
  border-width: 1px;
  border-style: solid;
}

.navbar-default {
  background-color: white;
}

.roda-header h1, .roda-header h2 {
  font-size: 24px;
  color: #FFF;
  float:left;
  margin: 26px 0 10px 0;
}

.roda-header h2 a {
  color:black;
}

h1, h2, h3, h4, .dataset h3 a {
  font-family: 'Roboto';
  color:#232F3E;
  font-weight: 700;
}
h3 {
  margin-bottom: 16px;
  margin-top: 32px;
}
h4 {
  margin-top: 20px;
}

.dataset h3 a:hover {
  color:#eb5f07;
}

.datasets {
  padding-bottom: 30px;
}

#dataatwork {
  margin-top: 1.6em;
}

#dataatwork h4 a {
  color: #232F3E;
}

.dataatwork-category {
  font-weight: bold;
}

.dataset {
  margin-bottom: 2em;
}

.lede {
  font-family: 'Roboto';
  font-size: 1.28em;
  font-weight: 200;
  line-height: 1.6em;
}

#aws_header_logo {
  max-width: 120px;
  float:right;
  padding: 20px 0 16px 0 ;
}

.label {
  font-weight: 400;
}

.label-info {
  background-color: #a2b228;
}

.label-info:hover {
  background-color: #c0d049;
}

.label-info-sustainability {
  background-color: #1e8900;
}

.label-info-sustainability:hover {
  background-color: #6aaf35;
}

/*.resource-list:nth-child(odd) {
  background-color: #E5FFFF;
}*/

ul.resource-list {
  padding: 0;
  list-style-type: none;
}

ul.resource-list li {
  margin: 0 0 2em 0;
  border-bottom: 1px solid #d5dbdb;
}

ul.resource-list li:last-child {
  border-bottom:none;
}

ul.dataatwork-list li {
  margin: 0 0 10px 0;
}

dt {
  margin-top: .6em;
}

a.aws-link::before {
  content: "AWS";
  display: inline;
  padding: .1em .4em .2em;
  margin-right: .3em;
  font-size: 75%;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #eb5f07;
}

.section-row {
  border-color: #232F3E;
}

@media (max-width:768px) {
  .roda-header h1, .roda-header h2 {
    font-size: 18px;
    color: #FFF;
    float:left;
    margin: 20px 0 20px 0;
  }
  #aws_header_logo {
    max-width: 40px;
    float:right;
    padding:16px 0 16px 0 ;
  }
}

@media (min-height: 790px) and (min-width:992px) {
 .aboutbox {
    position:fixed;
    z-index: 2;
    max-width: 392px;
  }
}

@media (min-height: 790px) and (min-width:1200px) {
 .aboutbox {
    position:fixed;
    z-index: 2;
    max-width: 490px;
  }
}

img.collab-logo {
  width: 100px;
  padding: 10px;
  float: left;
}

img.managed-by-logo {
  width: 100px;
}

.cat-anchor {
  position: relative;
  top: -50px;
}

img.providers {
  width: 200px;
  padding: 20px;
  text-align: center;
}

.providers-div {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  line-height: 1.625;
}

.label {
  padding: .6em .8em .6em;
}

input#search-box {
  background-color:rgb(241, 247, 231);
}

.form-control {
  border: none;
  -webkit-box-shadow: none;
  height: 40px;
}
code {
  color: #585d2e;
  background-color: #f3f5e2;
}
.table th {
  border: 1px solid hsl(0, 0%, 86%);
  padding: 0 5px;
  text-align: left;
}
.table tr:nth-child(even) {
  background: none repeat scroll 0 0 hsl(0, 0%, 96%);
}
.table tr, .table td {
  border: 1px solid #dcdcdc;
  padding: 5px;
  vertical-align: top;
}
table > thead > tr {
  background-color:rgb(245, 245, 245)!important;
}
.h2_addition {
  margin-left: -15px;
}
.navbar {
 box-shadow: rgb(175 158 232 / 40%) -1px 0px 4px 1px;
 height:80px;
}